 body {

     /* background-color: rgb(0, 0, 0);     */

     background-color: rgb(228, 226, 226);
     background-size: cover;
     background-repeat: no-repeat;

     background-attachment: fixed
 }

 /* #background_img{
    /* background-image: url("https://img.freepik.com/free-photo/overhead-view-pink-flower-bouquet-against-pink-background_23-2147942386.jpg") ; */

 #front_img {
     height: 100%;
     width: 100%;
     /* border:solid 2px #cc5858; */
     overflow: hidden;
     /* background-color: #050505; */
     position: relative;
     display: inline-block;




 }


 #front_img img {
     width: 100%;
     height: 100%;
     object-fit: cover;
     image-rendering: optimizeQuality;
     margin-top: 90px;
     display: block;
     border-radius: 10px;
     border: solid 2px #e1dede;


     /* height: auto; */




 }

 .text-overlay {
     position: absolute;
     top: 50%;
     left: 80%;
     transform: translate(-50%, -50%);
     color: rgb(214, 136, 136);
     padding: 10px;
     text-align: center;
     /* display: inline; */
 }

 /* #hamburger {
    border: none;
    background: transparent;
    position: fixed;
    left: 0;
    margin-top: 10px;
    z-index: 5;

} */

 #nav {
     position: fixed;
     display: flex;
     margin-top: -30px;
     margin-right: 0px;
     width: 100%;
     /* margin-top: 10px; */
     z-index: 1;
     /* background-color:rgb(254, 253, 253); */
     border-radius: 50px 50px 50px 50px;
     background: transparent;

 }



 #search {
     display: flex;

     margin-top: 2%;



 }

 #search input[type="text"] {

     padding: 10px;
     width: 400px;
     /* border-radius: 20px; */

     /* background-color: #cbcbcb; */

     /* height: 20px; */
     outline-offset: 0;
     outline-color: #9b9999;
     background: transparent;
     border: solid 1px #000000;


 }

 #inp {
     width: 400px;
     border-radius: 50px;
     border-width: 0;
     /* background-color: #fcfcfc; */
     height: 20px;
     padding: 5px;
     margin-left: 60%;

 }


 .nav-links {

     margin-left: 25%;
     display: flex;




 }


 .nav-links li {
     padding: 15px;
     list-style: none;
 }

 .nav-links li a {
     text-decoration: none;
     color: rgb(152, 32, 32);
 }

 .nav2 {
     margin-left: 17%;
     gap: 30px;
 }

 .nav2 li a {
     text-decoration: none;
     color: black;
 }

 #nav2_div {
     /* background-color:  rgb(250, 165, 165); */
     background-color: rgb(228, 226, 226);

     margin-bottom: 30px;
     position: sticky;
     height: 40px;
     top: 0;
     margin-left: 1.6%;
     margin-right: 1.6%;
     /* border-radius: 50px; */
     z-index: 2;






 }


 .nav2links {
     border-radius: 20px;
     border: solid 1px rgb(55, 55, 56);
     height: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     /* position: sticky; */
     margin: 10px;
     transition: transform 0.5s;


 }

 .nav2links:hover {
     transform: scale(1.09);
     background-color: rgb(238, 226, 226);



 }



 .btns {
     border-width: 0;
     border-radius: 40px;
     margin-top: 10px;
     height: 20px;
     width: 60px;
     color: #f7f5f5;
 }

 #btn1 {
     background-color: #f74c4c;
 }

 #btn2 {
     background-color: #799af5;
 }




 .grid-container {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
     grid-template-areas: repeat(auto-fill, minmax(10px, 100px));
     gap: 10px;
     padding: 20px 20px 20px;
     height: auto;
     /* overflow: hidden; */
     /* background-image: url("https://img.freepik.com/free-photo/overhead-view-pink-flower-bouquet-against-pink-background_23-2147942386.jpg") ; */




 }

 .card {
     background-color: #f9f9f9;
     overflow: hidden;
     box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
     transition: transform 0.5s;
     /* border: solid 2px #f08989; */
     border: solid 2px #d1d0d0;

 }

 .card:hover {
     transform: scale(1.06);



 }

 .card img {
     width: 100%;
     /* Make the image fill the container */
     height: 80%;
     /* Make the image fill the container */
     object-fit: cover;


 }

 .card h3 {
     margin: 10px;
 }

 .card p {
     margin: 10px;

 }

 #side_box2 {
     margin-top: 10px;
     border-radius: 10px;
     background-color: #e6cf4e;
     /* height: 200px; */

 }

 #side_box1 {
     margin-top: 10px;
     border-radius: 10px;
     background-color: #a7e49c;
     /* height: 200px; */
 }

 #innerbox1 {
     margin-top: 100px;
     margin-bottom: 0;
     background-color: #bca59d;
     border-radius: 10px;
     /* height: 200px; */

 }

 #innerbox2 {
     margin-top: 100px;
     border-radius: 10px;
     /* height: 200px; */
     background-color: #a64658;

 }

 #middle_box {
     margin-top: 130px;
     border-radius: 10px;
     background-color: #b6b5b5;
     /* height: 200px; */
 }

 /* #M_content{
    background-image: url("https://img.freepik.com/free-photo/overhead-view-pink-flower-bouquet-against-pink-background_23-2147942386.jpg") ;
    
} */


 .container1 {
     color: #cc5858;
     margin-top: 100px;
     text-align: center;


 }

 .container {
     position: relative;
     width: 100%;
     height: 20px;
     /* overflow: hidden;
    text-align: center;  */
     text-align: center;
     margin-bottom: 3%;

 }

 .text {
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
     font-size: 2em;
     color: rgb(255, 152, 152);
     opacity: 0;
     transition: opacity 1.2s ease, transform 1.5s ease;

 }

 .container:hover .text {
     opacity: 1;
     transform: translate(-50%, -60%);
 }

 #area {
     height: 500px;
     top: 0%;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 2%;
     transition: transform 0.5s;

     /* border: solid 2px #e1b3f3; */



     /* background-color: #cc5858; */

 }

 #a1 {
     height: 500px;
     width: 500px;
     background-color: #d7d7e7;
     border-radius: 20%;
     /* border: solid 5px #afabf4; */
     overflow: hidden;
     /* border: solid 2px #f08989; */
     border: solid 2px #d1d0d0;


 }

 #a1 img {
     height: 500px;
     width: 500px;
     border-radius: 20%;
     transition: transform 0.3s ease-in;
     /* border: solid 2px rgb(228, 226, 226); */

     /* object-fit: cover; */

 }

 .a img:hover {
     transform: scale(1.1);

     z-index: -1;
 }

 #a2 {
     height: 500px;
     width: 600px;
     background-color: #ffffff;
     border-radius: 30px;
     /* border: solid 5px #a6b0f1; */
     border: solid 2px rgb(187, 186, 186);


     overflow: hidden;
 }

 #a2 img {
     height: 500px;
     width: 600px;
     border-radius: 25px;
     object-fit: fill;
     transition: transform 0.3s ease;
     /* border: solid 2px #f08989; */


 }

 #Categories {
     text-align: center;
     color: rgb(79, 78, 78);
     margin-top: 10rem;


 }


 #area2 {
     height: auto;
     /* background-color: #c86767; */
     margin-top: 10px;



     overflow-x: auto;
     scrollbar-width: none;
     white-space: nowrap;
     -webkit-overflow-scrolling: touch;

 }

 #circles_container {

     display: inline-block;
     transition: transform 0.5s ease;
     

 }

 .circles {

     margin: 40px 20px 20px 20px;
     ;
     height: 200px;
     width: 200px;
     background-color: #b6c7e5;
     border-radius: 50%;
     
     display: inline-block;
     /* border: solid 2px #f08989; */
     border: solid 2px #aba9a9;
     box-shadow: 2px 5px 9px rgb(0, 0, 0);


     /* border-radius: 50%;  */
     overflow: hidden;
     text-align: center;
     /* Center text */
     /* transition: transform 0.3s cubic-bezier(1,-0.03, 0.61, 1.76); */
     transition: transform 0.3s cubic-bezier(0.44, -1.24, 0.61, 1.76);

 }

 .circles:hover {
     transform: scale(1.1);

 }

 .circles img {
     width: 100%;
     /* Make the image fill the container */
     height: 100%;
     /* Make the image fill the container */
     object-fit: cover;
 }




 .names {
     height: 40px;
     width: 200px;


     margin: 0 22px;
     display: inline-block;
     overflow: hidden;
     text-align: center;
     transition: transform 0.3s cubic-bezier(0.44, -1.24, 0.61, 1.76);
     background: transparent;
 }

 #footer {
     height: 300px;
     width: 100%;
     background-color: #000000;
     transform: translateY(100%);
     /* Initial position: off-screen at the bottom */
     transition: transform ease-in-out;
 }



 .container {
     display: flex;
 }

 header {
     background-color: #f0f0f0;
     padding: 15px;
     display: flex;
     align-items: center;
     gap: 20px;
 }


 .hamburger-btn {
     font-size: 1.5em;
     border: none;
     cursor: pointer;
     background: transparent;
     margin-left: 0;
     margin-top: 10px;
     color: #575656;
     z-index: 5;
     /* position: sticky; */
 }

 .sidebar {
     background-color: #ffa1a1;
     color: white;
     width: 250px;
     height: 100vh;
     position: fixed;
     top: 0;
     left: -250px;
     /* Initially hidden off-screen */
     overflow-y: auto;
     transition: left 0.3s ease-in-out;
     /* Smooth slide animation */
     z-index: 10;
     /* Ensure it's above other content */
 }

 .sidebar.open {
     left: 0;
     /* Slide in when the 'open' class is added */
 }

 .sidebar #nav_menu ul {
     list-style: none;
     padding: 0;
     margin: 0;
 }

 .sidebar #nav_menu ul li a {
     display: block;
     padding: 15px 20px;
     text-decoration: none;
     color: white;
 }

 .sidebar #nav_menu ul li a:hover {
    background-color: #c85a5a;
 }

 .content {
     flex-grow: 1;
     padding: 20px;
     transition: margin-left 0.3s ease-in-out;
     /* Adjust content when sidebar opens */
 }

 .content.open {
     margin-left: 250px;
     /* Make space for the open sidebar */
 }

 #nav_menu {
     margin-left: 20px;
 }


 .footer{
    margin-top: 20rem;
    margin-bottom: 0;
    height: 20rem;
    background: rgb(0, 0, 0);
    /* color: #ffffff; */
    
}
.footer p{
    padding-top: 3rem;
    margin-left: 5rem;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.7);
    

}

.footer p a{
    color: rgba(255,255,255,0.7);
}

.footer-col{
    color:rgba(255, 255, 255, 0.7);
    list-style-type: none;
    line-height: 1.5;
    /* padding: 4px; */
    font-size: 1rem;
    font-weight: 400;
    width: 15rem;
    margin-left: -2rem; 
    margin-top: 4rem;
    
}
footer{
    display: flex;
    justify-content: center;
    
    
}

footer ul li a{
    color: rgba(255, 255, 255, 0.7);
    text-decoration-color: rgba(255, 255, 255, 0.7);

    
        
    
}
footer ul li {
    margin-top: 0.50rem;
}

.last-lines{
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top:2rem ;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(225,225,225,0.7);
    font-family: "Noto Sans", sans-serif;
    height: 100px;
    gap: 30px;
    padding-left: 8.50rem;

    background-color: #000000;

}

.logo{
    margin-top: -50px;
    margin-left:50px;
    color: #d35959;
    font-size: 1.5rem;
    font-weight: 600;
}
